@media (max-width: 768px) {
  .logo h2 {
    display: none;
  }

  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  #hero h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  #hero p {
    font-size: 0.9rem;
    text-align: center;
  }
  main {
    padding: 0 0.9rem;
  }

  .box {
    width: 80vw;
  }
  .box p {
    letter-spacing: 0;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  #programs h2 {
    font-size: 1.5rem;
  }
  #programs .box ul li {
    font-size: 1.4rem;
  }
}
@media (max-width: 530px) {
  #hero img {
    height: 10rem;
  }
}

@media (max-width: 827px) {
  .first-container img {
    height: 14rem;
  }
}
@media (max-width: 678px) {
  #achievement h2 {
    padding-top: 5.5rem;
    padding-bottom: 1rem;
  }
  .first-container {
    flex-direction: column;
  }
}
